.streams {
  margin-left: -20px;
  margin-right: -20px;
  .stream {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    .live-label {
      position: absolute;
      top: 10px;
      left: 20px;
      background-color: red;
      color: white;
      padding: 1px 5px;
    }

    .stream-thumbnail {
      img {
        width: 100%;
        max-width: 307.25px;
        max-height: 338px;
      }
    }

    .username {
      position: absolute;
      bottom: 10px;
      left: 20px;
      background-color: black;

      a {
        font-size: 18px;
        color: white;
        text-decoration: none;
        padding: 2px 8px;
      }
    }
  }
}
