.mainDiv {
  color: white;
  background: linear-gradient(180deg, #1d1c1c 0%, #121212 100%);
  max-width: 1600px;
  height: 100%;
  margin: auto;
  min-height: 900px;
}

input {
  color: black;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  background-color: gray;
}

textarea {
  background-color: gray;
}

button {
  background-color: midnightblue;
  color: white;
  margin-right: 20px;
  padding: 10px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

button:disabled {
  background-color: gray;
  color: darkslategray;
  margin-right: 20px;
  padding: 10px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}
