.mainDiv {
  color: white;
  background: linear-gradient(180deg, #1d1c1c 0%, #121212 100%);
  max-width: 1600px;
  height: 100%;
  margin: auto;
  min-height: 900px;
}

.modalContainer {
  border-radius: 0;
  background-color: #121212;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

input {
  color: black;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  background-color: gray;
}

textarea {
  background-color: gray;
}

button {
  border: none;
  background-color: #eb1515;
  color: white;
  font-size: 12px;
  padding: 10px;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
  color: darkslategray;
  padding: 10px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.video_part {
  height: 482px;
}
